.footer {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  padding: 20px 50px;
  display: flex;
  gap: 1em;
  color: var(--footer-txt);
}
.footer span {
  font-size: 0.8em;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: all 150ms linear;
}
.footer span:hover {
  color: var(--black-txt);
}
/* Media Queries */
@media only screen and (max-width: 900px) {
  .footer {
    display: none;
  }
}
