@import url("https://fonts.cdnfonts.com/css/gotham");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham Light", sans-serif;
}

:root {
  --black-txt: #171a20;
  --black-btn: rgba(23, 26, 32, 0.8);
  --white-btn: rgba(244, 244, 244, 0.65);
  --footer-txt: #5c5e62;
  --white-txt: #ffffff;
  --icon: rgba(0, 0, 0, 0.8);
  --light-hover: hsla(0, 0%, 0%, 0.07);
  --sidebar: hsla(0, 0%, 0%, 0.3);
}
body::-webkit-scrollbar {
  display: block;
  width: 13px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--sidebar);
}
